In [ ]:
%load_ext sql

# Apuntes de Estudio


## Fundamentos y Consultas Avanzadas en SQL

---

### Introducción a SQL

- Qué es SQL?
  - SQL (Structured Query Language) es un lenguaje de programación utilizado para gestionar y manipular bases de datos relacionales. Permite realizar operaciones como la creación, modificación y eliminación de datos, así como consultas para recuperar información específica.

- Tipos de SQL:
  - **DML (Data Manipulation Language)**: Utilizado para realizar operaciones de manipulación de datos, como INSERT, UPDATE, DELETE.
  - **DDL (Data Definition Language)**: Utilizado para definir la estructura de la base de datos, como CREATE, ALTER, DROP.
  - **DCL (Data Control Language)**: Utilizado para establecer permisos y roles de usuario, como GRANT, REVOKE.
  - **TCL (Transaction Control Language)**: Utilizado para gestionar transacciones, como COMMIT, ROLLBACK.



### Consultas básicas en SQL

- **SELECT:**
  - La sentencia SELECT se utiliza para recuperar datos de una o más tablas.

In [ ]:
%%sql
SELECT columna1, columna2 FROM tabla;

- **WHERE:**
  - Se utiliza para filtrar los resultados basados en una condición especificada.

In [ ]:
%%sql
SELECT *
FROM empleados
WHERE departamento = 'Ventas';

- **ORDER BY:**
  - Ordena los resultados por una o más columnas especificadas.

In [ ]:
%%sql
SELECT *
FROM productos
ORDER BY precio DESC;

### Consulta Avanzada en SQL

- **JOIN:**
  - Combina datos de dos o más tablas basándose en una condición de igualdad entre columnas.

In [ ]:
%%sql
SELECT e.nombre, d.nombre AS departamento
FROM empleados e
INNER JOIN departamentos d ON e.id_departamento = d.id;

- **GROUP BY:**
  - Agrupa filas que tienen los mismos valores en una o más columnas y se utiliza con funciones de agregación como COUNT, SUM, AVG.

In [ ]:
%%sql
SELECT departamento, COUNT(*) AS cantidad_empleados
FROM empleados
GROUP BY departamento;

- **HAVING:**
  - Se utiliza en combinación con GROUP BY para filtrar los resultados de las agrupaciones.

In [ ]:
%%sql
SELECT departamento, COUNT(*) AS cantidad_empleados
FROM empleados
GROUP BY departamento
HAVING COUNT(*) > 5;

### Consultas con Funciones de Agregación

- **COUNT:**
  - Cuenta el número de filas que satisfacen una condición especificada.

In [ ]:
%%sql
SELECT COUNT(*) AS cantidad_productos
FROM productos;

- **SUM:**
  - Calcula la suma de los valores de una columna.

In [ ]:
%%sql
SELECT SUM(ingresos) AS total_ingresos
FROM ventas;

- **AVG:**
  - Calcula el promedio de los valores de una columna.

In [ ]:
%%sql
SELECT AVG(edad) AS promedio_edad
FROM empleados;

### Subconsultas y Operadores de Comparación

- **Subconsultas**
  - Una consulta dentro de otra consulta o consultas anidadas.

In [ ]:
%%sql
SELECT nombre
FROM clientes
WHERE id IN (SELECT id_cliente FROM pedidos WHERE total > 1000);

- **Operadores de Comparación:**
  - Utilizados para comparar valores en consultas.

In [ ]:
%%sql
SELECT *
FROM productos
WHERE precio BETWEEN 10 AND 50;