# Apuntes SQL


## Fundamentos y Consultas Avanzadas en SQL

---

### Introducción a SQL

- **¿Qué es SQL?**
  - SQL (Structured Query Language) es un lenguaje de programación utilizado para gestionar y manipular bases de datos relacionales. Permite realizar operaciones como la creación, modificación y eliminación de datos, así como consultas para recuperar información específica.

- **Tipos de SQL:**
  - **DML (Data Manipulation Language)**: Utilizado para realizar operaciones de manipulación de datos, como INSERT, UPDATE, DELETE.
  - **DDL (Data Definition Language)**: Utilizado para definir la estructura de la base de datos, como CREATE, ALTER, DROP.
  - **DCL (Data Control Language)**: Utilizado para establecer permisos y roles de usuario, como GRANT, REVOKE.
  - **TCL (Transaction Control Language)**: Utilizado para gestionar transacciones, como COMMIT, ROLLBACK.


### Consulta Básica en SQL:

---

- **SELECT:**
  - La sentencia SELECT se utiliza para recuperar datos de una o más tablas.
  
    ```sql
    SELECT columna1, columna2
    FROM tabla;
    ```

- **WHERE:**
  - Se utiliza para filtrar los resultados basados en una condición especificada.
  
    ```sql
    SELECT *
    FROM empleados
    WHERE departamento = 'Ventas';
    ```

- **ORDER BY:**
  - Ordena los resultados por una o más columnas especificadas.
  
    ```sql
    SELECT *
    FROM productos
    ORDER BY precio DESC;
    ```



### Consulta Avanzada en SQL:

---

- **JOIN:**
  - Combina datos de dos o más tablas basándose en una condición de igualdad entre columnas.
  
    ```sql
    SELECT e.nombre, d.nombre AS departamento
    FROM empleados e
    INNER JOIN departamentos d ON e.id_departamento = d.id;
    ```

- **GROUP BY:**
  - Agrupa filas que tienen los mismos valores en una o más columnas y se utiliza con funciones de agregación como COUNT, SUM, AVG.
  
    ```sql
    SELECT departamento, COUNT(*) AS cantidad_empleados
    FROM empleados
    GROUP BY departamento;
    ```

- **HAVING:**
  - Se utiliza en combinación con GROUP BY para filtrar los resultados de las agrupaciones.
  
    ```sql
    SELECT departamento, COUNT(*) AS cantidad_empleados
    FROM empleados
    GROUP BY departamento
    HAVING COUNT(*) > 5;
    ```



### Consultas con Funciones de Agregación:

---

- **COUNT:**
  - Cuenta el número de filas que satisfacen una condición especificada.
  
    ```sql
    SELECT COUNT(*) AS cantidad_productos
    FROM productos;
    ```

- **SUM:**
  - Calcula la suma de los valores de una columna.
  
    ```sql
    SELECT SUM(ingresos) AS total_ingresos
    FROM ventas;
    ```

- **AVG:**
  - Calcula el promedio de los valores de una columna.
  
    ```sql
    SELECT AVG(edad) AS promedio_edad
    FROM empleados;
    ```



### Subconsultas y Operadores de Comparación:

---

- **Subconsultas:**
  - Una consulta dentro de otra consulta.
  
    ```sql
    SELECT nombre
    FROM clientes
    WHERE id IN (SELECT id_cliente FROM pedidos WHERE total > 1000);
    ```

- **Operadores de Comparación:**
  - Utilizados para comparar valores en consultas.
  
    ```sql
    SELECT *
    FROM productos
    WHERE precio BETWEEN 10 AND 50;
    ```

## Consultas Avanzadas en SQL

---

### Introducción a Joins:

- **¿Qué son los Joins?**
  - Los Joins en SQL son utilizados para combinar datos de dos o más tablas basándose en una condición de igualdad entre columnas. Esto permite realizar consultas que involucran datos de múltiples tablas relacionadas entre sí.

- **Tipos de Joins:**
  - **INNER JOIN:** Devuelve los registros que tienen valores coincidentes en ambas tablas.
  - **LEFT JOIN:** Devuelve todos los registros de la tabla de la izquierda y los registros coincidentes de la tabla de la derecha.
  - **RIGHT JOIN:** Devuelve todos los registros de la tabla de la derecha y los registros coincidentes de la tabla de la izquierda.
  - **FULL JOIN:** Devuelve todos los registros cuando hay una coincidencia en cualquiera de las tablas.

### Ejemplos de Joins

- **INNER JOIN:**
  ```sql
  SELECT frutas.nombre, colores.nombre AS color
  FROM frutas
  INNER JOIN colores ON frutas.color_id = colores.color_id;
  ```

- **LEFT JOIN:**
  ```sql
  SELECT frutas.nombre, colores.nombre AS color
  FROM frutas
  LEFT JOIN colores ON frutas.color_id = colores.color_id;
  ```

- **RIGHT JOIN:**
  ```sql
  SELECT frutas.nombre, colores.nombre AS color
  FROM frutas
  RIGHT JOIN colores ON frutas.color_id = colores.color_id;
  ```

Por supuesto, aquí está tu esquema actualizado con la conexión y desconexión a bases de datos SQL:

#### **Conexión a la base de datos:**

- **¿Cómo se realiza la conexión?**
  - Para conectarse a una base de datos SQL en Python, puedes usar el módulo `sqlite3`. Primero, debes crear una conexión utilizando la función `connect()`, que toma como argumento el nombre de la base de datos a la que te quieres conectar.

    ```python
    import sqlite3
    conexion = sqlite3.connect('tu_base_de_datos.db')
    ```

#### **UNION:**

- **¿Qué es UNION?**
  - UNION en SQL se utiliza para combinar los resultados de dos o más consultas en una sola lista. Es importante destacar que las consultas deben tener la misma cantidad de columnas y tipos de datos compatibles.

    ```sql
    SELECT nombre FROM frutas
    UNION
    SELECT nombre FROM colores;
    ```

#### **Trabajo con Cursores:**

- **¿Qué son los Cursores?**
  - Los cursores en SQL son utilizados para recorrer los resultados de una consulta de manera iterativa, lo que permite procesar fila por fila.

- **Creación y Ejecución de Consultas:**
    ```python
    cursor = conexion.cursor()
    cursor.execute("CREATE TABLE movie (titulo TEXT, año INTEGER, puntuacion FLOAT)")
    ```

- **Recorrido de Resultados:**
    ```python
    for fila in cursor:
        print(fila)
    ```

#### **Desconexión de la base de datos:**

- **¿Cómo se realiza la desconexión?**
  - Una vez que hayas terminado de trabajar con la base de datos, debes cerrar la conexión utilizando el método `close()`. Es importante hacer esto para liberar los recursos del sistema.

    ```python
    conexion.close()
    ```