# Páctica SQL
Crea notebook de Jupyter y con la librería de SQLite realiza las siguientes consultas a la base de datos `"Chinook_Sqlite"` (archivo proporcionado junto con los apuntes de SQL).

In [108]:
# importamos librerias

import sqlite3
import pandas as pd

In [109]:
# Conectamos a la base de datos
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Creamos un cursor
cur = conn.cursor()

## Actividad 2-1 (Atención al cliente)
Trabaja con la tabla Customer.
1. Muestra la columna `Email`.
2. Muestra la columna `FirstName`.
3. Muestra las columnas `FirstName` y `LastName`.
4. Muestra las columnas `Address`, `Phone` y `Fax`.
5. Muestra todas las columnas.

In [110]:
# 1. Muestra la columna `Email`
res = cur.execute('SELECT Email FROM Customer')
#res.fetchall()   ## Para ver el resultado

In [111]:
# 2. Muestra la columna `FirstName`.
res = cur.execute('SELECT FirstName FROM Customer')
#res.fetchall()   ## Para ver el resultado

In [112]:
# 3. Muestra las columnas `FirstName` y `LastName`.
res = cur.execute('SELECT FirstName, LastName FROM Customer')
#res.fetchall()   ## Para ver el resultado

In [113]:
# 4. Muestra las columnas `Address`, `Phone` y `Fax`.
res = cur.execute('SELECT Address, Phone, Fax FROM Customer')
#res.fetchall()   ## Para ver el resultado

In [114]:
# 5. Muestra todas las columnas.
res = cur.execute('SELECT * FROM Customer')
#res.fetchall()   ## Para ver el resultado

## Actividad 3-1 (Ordenando a mi manera)
- Ordena la tabla de géneros (`Genre`) por orden alfabético.
- Corta los resultados para que solo se muestren los 6 primeros.

Subir Nota:
- Muestra las últimas 2 filas de la tabla.

In [115]:
# - Ordena la tabla de géneros (`Genre`) por orden alfabético.
res = cur.execute('SELECT * FROM Genre ORDER BY Name')
#res.fetchall()   ## Para ver el resultado

In [116]:
# - Corta los resultados para que solo se muestren los 6 primeros.
res = cur.execute('SELECT * FROM Genre ORDER BY Name LIMIT 6')
#res.fetchall()   ## Para ver el resultado

In [117]:
# - Muestra las últimas 2 filas de la tabla.
res = cur.execute('SELECT * FROM Genre ORDER BY Name DESC LIMIT 2')
#res.fetchall()   ## Para ver el resultado

## Actividad 3-2 (En busca del peor cliente)
Volvemos a usar la tabla `Customer`.
1. Muestra los usuarios que han reportado más de 3 incidencia (columna donde se cuentan es `SupportRepid`)
2. Filtra los resultados anteriores por los que viven en Brasil.
3. Muestra a los usuarios que tengan un código postal empezado en 7.
4. Muestra a los usuarios que tengan un email de hotmail.
5. Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada).
6. De los resultados anteriores, muestra los que tengan un email de gmail.
7. Muestra al usuario que trabaja en Apple (columna `Company`). Te aviso que no sabes el formato de la compañía, podría ser: Apple SL, Company Apple, APPLE…
8. Muestra los usuario que han reportado entre 3 y 4 incidencias.

In [118]:
# 1. Muestra los usuarios que han reportado más de 3 incidencia (columna donde se cuentan es `SupportRepid`)
res = cur.execute('SELECT * FROM Customer WHERE SupportRepId > 3')
#res.fetchall()   ## Para ver el resultado

In [119]:
# 2. Filtra los resultados anteriores por los que viven en Brasil.
res = cur.execute('SELECT * FROM Customer WHERE SupportRepId > 3 AND Country = "Brazil"')
#res.fetchall()   ## Para ver el resultado

In [120]:
# 3. 3. Muestra a los usuarios que tengan un código postal empezado en 7.
res = cur.execute('SELECT * FROM Customer WHERE PostalCode LIKE "7%"')
#res.fetchall()   ## Para ver el resultado

In [121]:
# 4. Muestra a los usuarios que tengan un email de hotmail.
res = cur.execute('SELECT * FROM Customer WHERE Email LIKE "%hotmail%"')
#res.fetchall()   ## Para ver el resultado

In [122]:
# 5. Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada).
res = cur.execute('SELECT * FROM Customer WHERE Country = "USA" OR Country = "Canada"')
#res.fetchall()   ## Para ver el resultado

In [123]:
# 6. De los resultados anteriores, muestra los que tengan un email de gmail.
res = cur.execute('SELECT * FROM Customer WHERE (Country = "USA" OR Country = "Canada") AND Email LIKE "%gmail%"')
#res.fetchall()   ## Para ver el resultado

In [124]:
# 7. Muestra al usuario que trabaja en Apple (columna `Company`). Te aviso que no sabes el formato de la compañía, podría ser: Apple SL, Company Apple, APPLE…
res = cur.execute('SELECT * FROM Customer WHERE Company LIKE "%Apple%"')
#res.fetchall()   ## Para ver el resultado

In [125]:
# 8. Muestra los usuario que han reportado entre 3 y 4 incidencias.
res = cur.execute('SELECT * FROM Customer WHERE SupportRepId BETWEEN 3 AND 4')
#res.fetchall()   ## Para ver el resultado

## Actividad 3-3 (Limpieza de personal)
Usaremos la tabla `Employee` (empleados).
1. Cuenta la cantidad de empleados que hay por ciudad.
2. Cuenta la cantidad de empleados que hay por departamento.

Subir Nota:
1. Muestra la edad de cada empleado.
2. Calcula la media de edad por departamento (`Title`).
3. Cuenta los empleados que fueron contratados, de media, por año.

In [126]:
# 1. Cuenta la cantidad de empleados que hay por ciudad.
res = cur.execute('SELECT City, COUNT(*) FROM Employee GROUP BY City')
#res.fetchall()   ## Para ver el resultado

In [127]:
# 2. Cuenta la cantidad de empleados que hay por departamento.
res = cur.execute('SELECT Title, COUNT(*) FROM Employee GROUP BY Title')
#res.fetchall()   ## Para ver el resultado

In [128]:
# 1. Muestra la edad de cada empleado.
res = cur.execute('''SELECT FirstName, LastName, 
                        (strftime('%Y', '2024-03-21') - strftime('%Y', BirthDate)) - 
                        (strftime('%m-%d', '2024-03-21') < strftime('%m-%d', BirthDate)) AS Age
                        FROM Employee''')
#res.fetchall()   ## Para ver el resultado

In [129]:
# 2. Calcula la media de edad por departamento (`Title`).
res = cur.execute('''SELECT Title, 
                        AVG((strftime('%Y', '2024-03-21') - strftime('%Y', BirthDate)) - 
                        (strftime('%m-%d', '2024-03-21') < strftime('%m-%d', BirthDate))) AS AvgAge
                        FROM Employee
                        GROUP BY Title''')
#res.fetchall()   ## Para ver el resultado

In [130]:
# 3. Cuenta los empleados que fueron contratados, de media, por año.
res = cur.execute('''SELECT strftime('%Y', HireDate) AS Year, 
                        COUNT(*) AS NumHired 
                        FROM Employee 
                        GROUP BY Year''')
#res.fetchall()   ## Para ver el resultado

## Actividad 4-1 (Experto en canciones)
Volvemos a usar la tabla `Track` (canción).
1. Muestra todas las canciones con el `MediaType` Protected AAC audio file.
2. Muestra todas las canciones que contengan algún `MediaType` con AAC.
3. Muestra todas las canciones que duren más de 2 minutos.
4. Muestra todas las canciones de Jazz.
5. Averigua cual es la canción más pesada.

Subir Nota:
1. ¿Cuantos discos tiene Led Zeppelin?
2. De entre sus discos, ¿cuanto cuesta el disco Houses Of The Holy?

In [131]:
# 1. Muestra todas las canciones con el `MediaType` Protected AAC audio file.
res = cur.execute('SELECT * FROM Track WHERE MediaTypeId = 2')
#res.fetchall()   ## Para ver el resultado

In [132]:
# 2. Muestra todas las canciones que contengan algún `MediaType` con AAC.
res = cur.execute('''SELECT * FROM Track WHERE MediaTypeId 
                        IN (SELECT MediaTypeId FROM MediaType 
                        WHERE Name LIKE "%AAC%")''')
#res.fetchall()   ## Para ver el resultado

In [133]:
# 3. Muestra todas las canciones que duren más de 2 minutos.
res = cur.execute('SELECT * FROM Track WHERE Milliseconds > 120000')
#res.fetchall()   ## Para ver el resultado

In [134]:
# 4. Muestra todas las canciones de Jazz.
res = cur.execute('''SELECT * FROM Track WHERE GenreId 
                        IN (SELECT GenreId FROM Genre 
                        WHERE Name LIKE "%Jazz%")''')
#res.fetchall()   ## Para ver el resultado

In [135]:
# 5. Averigua cual es la canción más pesada.
res = cur.execute('SELECT * FROM Track ORDER BY Bytes DESC LIMIT 1')
#res.fetchall()   ## Para ver el resultado

In [136]:
# 1. ¿Cuantos discos tiene Led Zeppelin?
res = cur.execute('''SELECT COUNT(*) FROM Album WHERE ArtistId 
                        IN (SELECT ArtistId FROM Artist 
                        WHERE Name LIKE "%Led Zeppelin%")''')
res.fetchall()   ## Para ver el resultado

[(14,)]

In [137]:
# 2. De entre sus discos, ¿cuanto cuesta el disco Houses Of The Holy?
res = cur.execute('''SELECT SUM(Track.UnitPrice) FROM Track WHERE AlbumId 
                        IN (SELECT AlbumId FROM Album 
                        WHERE Title = "Houses Of The Holy")''')
res.fetchall()   ## Para ver el resultado

[(7.920000000000001,)]

## Actividad 5-1 (Solo compañías)
De la tabla Customer crea una vista llamada `Customer_with_companies`, donde estarán incluidos todos los resultados salvo cuando Company sea `NULL`. A partir de la vista realiza las siguientes acciones.
1. Ordena los resultados por orden alfabético de `Company`.
2. Muestra que compañías son de Brazil.

In [138]:
# 1. Ordena los resultados por orden alfabético de `Company`.
res = cur.execute('SELECT * FROM Customer ORDER BY Company')
#res.fetchall()   ## Para ver el resultado

In [139]:
# 2. Muestra que compañías son de Brazil.
res = cur.execute('SELECT Company FROM Customer WHERE Country = "Brazil"')
#res.fetchall()   ## Para ver el resultado

## Actividad 6-1 (Dame la factura)
De la tabla `Track`, consigue la siguiente información.
1. Cuál es el título de la canción que menos pesa (`Bytes`).
2. Cuál es el título de la canción que más dura (`Miliseconds`).
3. Cuántas canciones cuestan 1$ o más.
4. Cuántas canciones hay de Queen.
5. Cuál es la media de duración entre todas las canciones.
6. Cuál es la media de peso entre todas las canciones de U2.
7. Cuántas canciones esta Bill Berry como Composer (`Compositor`).
8. Un Mb son: Bite / 1024 / 1024. Muestra todos los Tracks calculando, y renombrando, la columna Bytes en Mb.

In [140]:
# 1. Cuál es el título de la canción que menos pesa (`Bytes`).
res = cur.execute('SELECT Name FROM Track ORDER BY Bytes LIMIT 1')
res.fetchall()   ## Para ver el resultado

[('É Uma Partida De Futebol',)]

In [141]:
# 2. Cuál es el título de la canción que más dura (`Miliseconds`).
res = cur.execute('SELECT Name FROM Track ORDER BY Milliseconds DESC LIMIT 1')
res.fetchall()   ## Para ver el resultado

[('Occupation / Precipice',)]

In [142]:
# 3. Cuántas canciones cuestan 1$ o más.
res = cur.execute('SELECT COUNT(*) FROM Track WHERE UnitPrice >= 1')
res.fetchall()   ## Para ver el resultado

[(213,)]

In [143]:
# 4. Cuántas canciones hay de Queen.
res = cur.execute('''SELECT COUNT(*) FROM Track WHERE AlbumId 
                    IN (SELECT AlbumId FROM Album WHERE ArtistId 
                        IN (SELECT ArtistId FROM Artist WHERE Name = "Queen"))''')
res.fetchall()   ## Para ver el resultado

[(45,)]

In [144]:
# 5. Cuál es la media de duración entre todas las canciones.
res = cur.execute('SELECT AVG(Milliseconds) FROM Track')
res.fetchall()   ## Para ver el resultado

[(393599.2121039109,)]

In [145]:
# 6. Cuál es la media de peso entre todas las canciones de U2.
res = cur.execute('''SELECT AVG(Bytes) FROM Track WHERE AlbumId 
                        IN (SELECT AlbumId FROM Album WHERE ArtistId 
                            IN (SELECT ArtistId FROM Artist WHERE Name = "U2"))''')
res.fetchall()  ## Para ver el resultado

[(7978789.985185185,)]

In [146]:
# 7. Cuántas canciones esta Bill Berry como Composer (`Compositor`).
res = cur.execute('SELECT COUNT(*) FROM Track WHERE Composer = "Bill Berry"')
res.fetchall()   ## Para ver el resultado

[(0,)]

In [147]:
# 8. Un Mb son: Bite / 1024 / 1024. Muestra todos los Tracks calculando, y renombrando, la columna Bytes en Mb.
res = cur.execute('SELECT Name, Bytes / 1024 / 1024 AS Mb FROM Track')
#res.fetchall()   ## Para ver el resultado

## Actividad 7-1 (Buscando facturas)
De la tabla `Invoice`, consigue la siguiente información.
1. Muestra:  `InvoiceId`, `nombre del cliente` y `BillingCountry`.
2. Ordena de mayor a menor por `Total`.
3. Cual es el país que más a facturado.

In [148]:
# 1. Muestra:  `InvoiceId`, `nombre del cliente` y `BillingCountry`.
res = cur.execute('''SELECT InvoiceId, Customer.FirstName, BillingCountry FROM Invoice 
                        JOIN Customer ON Invoice.CustomerId = Customer.CustomerId''')
#res.fetchall()   ## Para ver el resultado

In [149]:
# 2. Ordena de mayor a menor por `Total`.
res = cur.execute('SELECT * FROM Invoice ORDER BY Total DESC')
#res.fetchall()   ## Para ver el resultado

In [150]:
# 3. Cual es el país que más a facturado.
res = cur.execute('''SELECT BillingCountry, SUM(Total) FROM Invoice 
                        GROUP BY BillingCountry 
                        ORDER BY SUM(Total) DESC LIMIT 1''')
#res.fetchall()   ## Para ver el resultado

## Actividad 8-1 (Alimentado la productora)
1. Añade 5 artistas que te gusten en la tabla `Artist`.
2. Introduce el `MediaType` Wav.
3. Crea 2 discos que estén relacionados con los artistas que has creado.

In [152]:
# 1. Añade 5 artistas que te gusten en la tabla `Artist`.
res = cur.execute('''INSERT INTO Artist (Name) VALUES ("Queen"), 
                        ("The Beatles"), 
                        ("The Rolling Stones"), 
                        ("Led Zeppelin"), 
                        ("Pink Floyd")''')

OperationalError: database is locked

In [153]:
# 2. Introduce el `MediaType` Wav.
res = cur.execute('INSERT INTO MediaType (Name) VALUES ("Wav")')

OperationalError: database is locked

In [ ]:
# 3. Crea 2 discos que estén relacionados con los artistas que has creado.

## Actividad 9-1 (Artistas desaparecidos)
Volvemos a usar la tabla `Artist` (canción). (usa PRAGMA foreign_keys = OFF para desactivar la comprobación)
- Borra a U2.
- Borra los artistas que tengan en su nombre el símbolo &.
- Borra los artistas con una Id entre 201 y 230.
- Borra toda la tabla de `Track`.

In [ ]:
# - Borra a U2.
res = cur.execute('DELETE FROM Artist WHERE Name = "U2"')
#res.fetchall()   ## Para ver el resultado

In [ ]:
# - Borra los artistas que tengan en su nombre el símbolo &.
res = cur.execute('DELETE FROM Artist WHERE Name LIKE "%&%"')
#res.fetchall()   ## Para ver el resultado

In [ ]:
# - Borra los artistas con una Id entre 201 y 230.
res = cur.execute('DELETE FROM Artist WHERE ArtistId BETWEEN 201 AND 230')
#res.fetchall()   ## Para ver el resultado

In [ ]:
# - Borra toda la tabla de `Track`.
res = cur.execute('DELETE FROM Track')
#res.fetchall()   ## Para ver el resultado

## Actividad 10-1 (Se acabaron las rebajas)
Volvemos a usar la tabla `Track` (canción).
- Sube el precio de todas las canciones de 0.99 a 2.99.
- Sube el precio de todas las canciones de 1.99 a 4.99.
- Cambia el Compositor (`Composer`) por Sara del `TrackId` número 2000.
- Cambia el Compositor (`Composer`) por clasico de todas las canciones que empiecen con el nombre Concerto.

In [ ]:
# - Sube el precio de todas las canciones de 0.99 a 2.99.
res = cur.execute('UPDATE Track SET UnitPrice = 2.99 WHERE UnitPrice = 0.99')

In [ ]:
# - Sube el precio de todas las canciones de 1.99 a 4.99.
res = cur.execute('UPDATE Track SET UnitPrice = 4.99 WHERE UnitPrice = 1.99')

In [ ]:
# - Cambia el Compositor (`Composer`) por Sara del `TrackId` número 2000.
res = cur.execute('UPDATE Track SET Composer = "Sara" WHERE TrackId = 2000')

In [ ]:
# - Cambia el Compositor (`Composer`) por clasico de todas las canciones que empiecen con el nombre Concerto.
res = cur.execute('UPDATE Track SET Composer = "Clasico" WHERE Name LIKE "Concerto%"')

----

In [ ]:
# Cerramos conexión
conn.close()